/* vista desktop */
@media only screen and (min-width:1024px) {
    .encabezado__titulo{
        margin: 5rem 0;
    }
    .section__textPrincipal{
        text-align: center;
         padding-top: 4rem;
         padding-left: 2rem;
    }
     .section__textSecundario{
        text-align: center;
        padding-top: 4rem;
        padding-right: 2rem;
    }
     .section__container {
        padding-left: 5rem;
    }
    .carousel-inner{
        height: 500px;
    }
    .encabezado__h2{
        margin-top: 1rem;
    }
}

h1, h2{
    text-align: center;
}
a{
    color: black;
}

.section__div--mb{
    margin-bottom: 3rem;
}
.flex__encabezado--index{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
hr{
    background-color: #a8dadc;
}
.footer__index{
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
}

/* modificaciones de links y botones  */
.hover__encabezado--index:hover{
   color: #000;
   text-decoration: none;
}
.encabezado__inscripcion--index{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid #a8dadc;
    background-color: white;   
    border-radius: 15px;
    padding: .25rem .5rem;    
   
}
.encabezado__inscripcion--index:hover{
    color: white;
    border: 1px  solid #a8dadc;
    border-radius: 15px;
    box-shadow: 0 0.8em 0.5em -0.5em #99c5c7;
} 
.scale:hover{
    transform: scale(1,1.1);
    transition: 0.5s;
    letter-spacing: 1.5px;
}
.radius{
    border-radius: 5px;
    border: none;
}
.img__radius{
   border-radius:calc(.25rem - 1px);
}

/* Boton de la nav */
.btnMargin{
    margin-left: 4rem;
    margin-top: 0.5rem;
}
.btn:hover{
    background-color: #a8dadc;
    transition: 0.5s;
    color: #fff;
}
.usuario{
    height: 2.5rem;   
}
::placeholder{
    text-align: center;
}

/* Titulo de los dias */
.encabezado__titulo--dias{
    margin-top: 1rem;
}

/* hover de las tablas de los dias */
.table-hover tbody tr:hover{
    background-color: #a8dadc;
}
.dias__ver--hover:hover{
    color: white;
    text-decoration: none; 
    transition: 0.4s;
}

/* footer de los dias */
.footer__dias--position{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 0;
    list-style: none;
}

/* Iconos de footer */
svg{
    width: 1.7rem;
    height: 1.7rem;   
}
a .bi:hover{
    color: #8eb9bb;
    transition: 0.5s; 
}

.botonUp__footer--dias{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2rem; 
}

/* No usar BEM sobre .table ya que es class de bootstrap */
/* Tablas de dias y glosario */
.table{
    margin-top: 2rem;
    margin-bottom: 5rem; 
} 
.encabezado__titulo--glosario{
    margin-top: 6rem;
}
.glosario__section--position{
    margin-top: 3rem;
}

/* css del formulario de inscripcion */
.inscripcion__logo--padding{
    padding:16px;
}
input:placeholder-shown{ 
    font-size: 1rem;
}
textarea{
    font-size: 1rem;
}
select{ 
    border: none;
    height: 1.5rem;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
input{
    border: none;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0.3rem;
}
.inscripcion__input--tamaño{
    height: 2rem;
}
.inscripcion__ubicacion--checkbox{
    text-align: center;
    font-size: 1.2rem;
    list-style: none;
    margin-top: 0.5rem;
}
.inscripcion__contenedor--ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.inscripcion__contenedor--interior{
    margin-bottom: 4rem;
    margin-top: 2rem;
    background-color: #a8dadc;
    width: 40rem;
    padding-bottom:1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.inscripcion__ubicacionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
}

/* modificaciones de vista tablet */
@media only screen and (min-width: 768px) and (max-width:1023px){
    iframe{
        width: 400px;
        height: 200px;
    }
    .encabezado__inscripcion--index{
        margin-bottom: 2.5rem;
    }
    .scale:hover{
        transform: scale(1.009,1.009);
        transition: 1s;
        letter-spacing: 1.5px;
    }
    
}

/* modificaciones de vista mobile */
@media only screen and (max-width: 768px){
    .navbar-toggler{
        justify-content: flex-start;  
    }
   
    .section__textPrincipal{
        padding: 2rem 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .section__textSecundario{
        padding: 2rem 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .section__container{
        display: flex;
        justify-content: center;
    }
    
     /* No usar BEM sobre .table ya que es class de bootstrap */
    .table{
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 14px;
        width: 100%;
    }
    .encabezado__titulo--glosario{
        margin-top: 4rem;
    }
    iframe{
        width: 100px;
        height: 100px;
    }
    .inscripcion__contenedor--interior{
        width: 80%; 
    }
    .inscripcion__ubicacion--checkbox{
        font-size: 14px;
    }
    .inscripcion__textArea{
        width: 80%;
    }
    .scale:hover{
        transform: scale(1.009,1.009);
        transition: 1s;
        letter-spacing: 1.5px;
    }
}

